<body align="center">
<div class="container-fluid">
<div align="center"><h2><u><b>Welcome to Online Vegetable Shopping</b></u></h2></div>

<hr color="black">
<nav align="center">
    <h1>Owner Services  :</h1>
   
  <button> <a routerLink="/insert-component"> Insert Vegetables</a></button> &nbsp;&nbsp;&nbsp;
  <button> <a routerLink="/update-component"> Update Vegetables</a></button> &nbsp;&nbsp;&nbsp;
  <button>  <a routerLink="/delete-component"> Delete Vegetables</a></button> &nbsp;&nbsp;&nbsp;
  <button>  <a routerLink="/view-component"> View Vegetables</a></button> &nbsp;&nbsp;&nbsp;
    

</nav>

<hr color="black">
    <nav align="center">
        <h1>Buyer Services  :</h1>
        <button>
        <a routerLink="/buyer-component"> Buy Vegetables</a></button>&nbsp;&nbsp;&nbsp;
       <button> <a routerLink="/bill-component"> Billing </a></button>&nbsp;&nbsp;&nbsp;
       <button> <a routerLink="/billing-component"> Total cost </a></button>&nbsp;&nbsp;&nbsp;
       
        </nav>
    <hr color="black">


<router-outlet></router-outlet>
<hr color="black">
<nav align="center">

    <button> <a routerLink="/exit-component"> Exit  </a></button>&nbsp;&nbsp;&nbsp;

</nav>
<hr>
</div>

<div  align="center">

<img src="../assets/images/veg2.jpg" alt="center" >

</div>

<h1 align="center"><b>Thank you </b><br>
    <b>Visit Again</b></h1>

</body>
<hr color="black">
<hr color="black">