div
{
   color: darkblue;

    background-position: 10%;
    background-position-x: center;
}
nav{
    background-color: aqua;
    background-attachment: fixed;
}
a{
    color: red;
    box-sizing: border-box;
    font-size: 150%;
}
body
{
    width: 100%;
    align-items: center;
    border: 5;
    border-color: blueviolet;
    background-color: blanchedalmond;
    border-width: 20px;
    
 
    
}
h1
{
    
    color: darkblue;
}
h2
{
    color: darkgreen;
    font-size: 1cm;
}
img
{
    width: 500px;
}